{% extends 'onroad/base.html' %}

{% block title %}Success - RoadMech{% endblock %}

{% block content %}
<style>
    .container {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin-top: 150px;
        padding: 20px;
        text-align: center;
    }

    h1 {
        color: #162938;
    }

    p {
        color: #666;
        margin-top: 20px;
    }

    
</style>

<div class="container">
    <h1>Thank You!</h1>
    <p>Your message has been successfully sent. We will get back to you soon.</p>
    <a href="{% url 'home' %}">Return to Home</a>
</div>
{% endblock %}
